#name{
    background-color: rgb(38, 133, 101, 0.2);
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: rgb(38, 133, 101, 0.2);
    border-radius: 2%;
}
#email{
    background-color: rgb(38, 133, 101, 0.2);
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: rgb(38, 133, 101, 0.2);
    border-radius: 2%;
}
#phone{
    background-color: rgb(38, 133, 101, 0.2);
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: rgb(38, 133, 101, 0.2);
    border-radius: 2%;
}
.formBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.form{
/* border: lightblue solid ;
border-radius: 1rem; */
box-shadow: 2px 4px 9px -3px black;
position: relative;
width: 50%;
border: solid  rgb(38, 133, 101, 0.8);
display: flex;
flex-direction: column;
align-items: center;
padding: 5% 0;
border-radius: 4%;

}
.formButton{
    background-color: rgb(38, 133, 101, 0.8);
    border: rgb(38, 133, 101, 0.2);
    padding: 0.7em;
    border-radius: 20px;
    margin-left: 5rem;
    margin-top:1rem;
}